:root{
    --primary-color :#ffd900;
    --secondary-color :#ffd9008f;
    --bg-color : #f4f4f4;
    --text-color : #333;

    --heading-size :2.5rem;
    --sub-heading-size : 2rem;
    --text-size : 1.2rem;
    --font-family : 'Roboto Condensed','sans-serif';

}
*{
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
    box-sizing: border-box;

}
body{
    background-color: var(--bg-color);
    color: var(--text-color);

}
p,a{
    font-size: var(--text-size);
    line-height: 1.2;
}
a{
    text-decoration: none;

}
header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;


}
header a h2{
    font-size: var(--sub-heading-size);
    color: var(--text-color);
}
header a h2 span{
    color: var(--bg-color);
    font-size: var(--text-size);
}
header ul{
    list-style: none;

}
header ul li{
    display: inline;

}
header ul li i{
    color: var(--text-color);
    font-size: 1.5rem;
    margin: 0.5px;
}
header nav ul li a{
    padding: 10px 15px;
    transition: .3s linear;
    font-size: var(--text-size);
}
header nav ul li a:hover{
    color: var(--bg-color);
}


.menu-toggle{
    display: none;
}


@media  screen and (max-width:768px) {
    header nav{
        position: fixed;
        top: -1000px;
        left: 0;
        width: 100%;
        height: auto;
        padding: 20px;
        background-color: var(--primary-color);
        z-index: 10;
        transition: .4s linear;



    }
    header nav ul li{
        display: block;
        text-align: center;
        margin: 20px 0;
    }
    header nav ul li a{
        padding: 25px 0;

    }
    .active{
        top: 80px !important;
    }
    .menu-toggle{
        display: inline;
    }
    
}

main{
    margin-top: 80px;
}
.setting-box{
    position: fixed;
    top: -1000px;
    right: 10px;
    min-width: 300px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    z-index: 2;
    background-color: var(--primary-color);
    border-radius: 20px;
    transition: .4s linear;
}
.setting-box img{
    width: 150px;
    height: 100px;
    padding: 10px;
}
.setting-box-active{
    top: 85px !important;

}

/* landing start */
#landing{
    width: 100%;
    min-height: 90vh;
    position: relative;
}
#landing img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
#landing .hover-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #210f3b77;

}

/* Dark Mode */

.dark{
    background-color:rgb(7, 10, 46);
    color: rgb(236, 224, 224);
 }

 .scroll-top{
    position: fixed;
    right: 20px;
    bottom: -100px;
    z-index: 100;
    background-color: var(--primary-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;

 }
 .scroll-top i{
    font-size: 25px;
    color: #ddd;
 }

 .search{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    text-align: center;
 }

 .search h1{
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 5px;
    margin: 10px 0;
    color: var(--bg-color);
    text-shadow: 0px 1px 2px #333;
 }

 .search input{
    width: 350px;
    height:  45px;
    font-size: 20px;
    padding: 0 10px;
    color: #111;
    background-color: var(--bg-color);
    border: none;
    border-radius: 5px;
 }


#popular{
    width:  100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;

}

#popular h1{
    font-size: 30px;
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 20px;

}

#popular .movie-container{
     width: 80%;
     height: auto;
     display: grid;
     grid-template-columns: repeat(3,1fr);
     grid-gap: 20px;
}

#popular .movie-container .card{
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 2px 3px #111;
    min-height: 400px;


}

#popular .movie-container .card .img-box{
    width: 100%;
    height: 80%;
    overflow: hidden;
}
#popular .movie-container .card .img-box img{
    width: 100%;
    height: 100%;
    transition: .4s ease ;
}

#popular .movie-container .card .img-box img:hover{
    transform: scale(1.3);
}

#popular .movie-container .card .details{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 20%;

}

#popular .movie-container .card .details h3{

    font-size: 20px;
    color: var(--text-color);
    letter-spacing: 3px;

}

#popular .movie-container .card .details span{
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 20px;
}

#popular .movie-container .card .overview{
    position: absolute;
    bottom: -100;
    left: 0;
    width: 100%;
    height: 70%;
    padding: 20px;
    background-color: var(--bg-color);
    z-index: 1;
    overflow: scroll;
    transition: .4s linear;

}

#popular .movie-container .card:hover .overview {
    bottom: 0;
    transition: .4s linear;

}

#popular .movie-container .card .overview h5{
    font-size: 24px;
    margin: 10px 0;
}

#popular .movie-container .card .overview p{
       margin: 10px 0;   
}


@media screen and (max-width :600px ) {
    #popular .movie-container{
        width: 95%;
        grid-template-columns: 1fr;
    }
}


.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
    background-color: rgba(255, 255, 255, 0.493);
    z-index: 100;

}
.load-child{
    width: 70px;
    height: 70px;
    border-radius: 20px;
    background-color: var(--primary-color);
    animation: load-animate .7s linear alternate infinite;
}

@keyframes load-animate{
    0%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    50%{
        transform: rotate(360deg);
    }
}
